<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebLinkPreview iOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WebLinkPreview iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WebLinkPreview macOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WebLinkPreview macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WebLinkPreview tvOS Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WebLinkPreview tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WebLinkPreview watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4C5D4582246071000A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D46E2246797D00A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D48A22467A8A00A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D49C2246994C00A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D4AB22469AD300A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D4BF22469F6C00A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D4CB22469FD200A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C5D4E32246A4F500A4BE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
